.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;
}
.btn-special-animation::before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
	z-index: -1;
}
.btn-special-animation:hover::before {
	transform: scale(1);
	transform-origin: left;
}
